<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDDAILY" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
		</encoder>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="jdbc" level="OFF" />

	<logger name="jdbc.sqlonly" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDDAILY" />
		<!-- 
		<appender-ref ref="STASH" />
		-->  
	</logger>
	<logger name="jdbc.resultsettable" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDDAILY" />
		<!-- 
		<appender-ref ref="STASH" />
		-->  
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDDAILY" />
		<!-- 
		<appender-ref ref="STASH" />
		-->  
	</root>

</configuration>
